/* designed by Mina Nazari */
/* ==========================================================================
   General
   ========================================================================== */
@charset "UTF-8";

@font-face {
    font-family: click;
    src: url('../fonts/Sahel.eot');
    src: url('../fonts/Sahel.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Sahel.woff') format('woff'),
    url('../fonts/Sahel.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: click;
    src: url('../fonts/Sahel-Bold.eot');
    src: url('../fonts/Sahel-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Sahel-Bold.woff') format('woff'),
    url('../fonts/Sahel-Bold.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: click;
    src: url('../fonts/Sahel-Black.eot');
    src: url('../fonts/Sahel-Black.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Sahel-Black.woff') format('woff'),
    url('../fonts/Sahel-Black.ttf') format('truetype');
    font-weight: 900;
}


html,body{
    margin: 0;
    padding: 0;
    font-family: 'click',tahoma,sans-serif;
    direction: rtl;
    background: #f1f1f1;
    overflow-x: hidden;
}

a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
    color: #690065;
    cursor: pointer;
}

h1,h2,h3,h4,h5{
    margin: 0;
}

h3 {
    display: block;
    font-size: 1.4em;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: 600;
}

header, section, footer, aside, nav, article, figure {
    display: block;
    direction: rtl;
}

::-moz-selection {
    text-shadow: none;
}

::selection {
    text-shadow: none;
}

.hr {
    display: block;
    height: 1px;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.p5 {
    padding-left: 5px !important;
    padding-right: 5px !important;
}

.mb5 {
    margin-bottom: 5px;
}

.nopadding{
    padding: 0 !important;
}

.noborder{
    border: none !important;
}

.nopadding-right{
    padding-right: 0 !important;
}

.nopadding-left{
    padding-left: 0 !important;
}

.pt15 {
    padding-top: 15px;
}

.pb15 {
    padding-bottom: 15px;
}

.mb15 {
    margin-bottom: 15px;
}

.mt15 {
    margin-top: 15px;
}

.mt30 {
    margin-top: 30px;
}

.mb30 {
    margin-bottom: 30px;
}

.white-back{
    background-color: #fff;
}

.hidden{
    opacity:0;
}
.visible{
    opacity:1;
}

.dir-rtl{
    direction: rtl;
}

.btn-primary {
    color: #fff;
    background-color: #690165;
    border-color: #4c084a;
    transition: all 0.3s;
}

.btn-primary:hover {
    color: #fff;
    background-color: #690165;
    border-color: #4c084a;
}

.btn-gray {
    background-color: #616161;
    border: 2px solid transparent;
    color: #fff !important;
}


/* ==========================================================================
   Header
   ========================================================================== */
.whole-menu {
    /*    background-color: #ffffff;
        background-repeat: repeat-x;
        background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffffff), to(#2F2727));
        background: -webkit-linear-gradient(top, #5b386c, #ffffff);
        background: -moz-linear-gradient(top, #2F2727, #1a82f7);
        background: -ms-linear-gradient(top, #2F2727, #1a82f7);
        background: -o-linear-gradient(top, #2F2727, #1a82f7);*/
    height: 200px;
    width: 100%;
    border-top: 1px solid #690065;
}

.whole-menu .logo img {
    height: 70px;
}

.top-gray-menu {
    width: 100%;
    background-color: #f8f8f8;
    height: 30px;
}

.top-menu-items ul li {
    display: inline-block;
    width: auto;
    list-style: none;
    padding: 5px 10px;
    font-size: 0.9em;
}

.top-menu-items ul li a {
    color: #777;
}

.top-menu-items ul li a:hover {
    color: #690065;
}

.top-menu-items ul li a i {
    color: #690065;
}

.degree {
    color: #999;
}


h1,
.h1 {
    font-size: 36px;
    text-align: center;
    font-size: 5em;
    color: #404041;
}

.dropdown-menu {
    background-color: rgba(255,255,255,0.95);
}

.navbar-nav>li>.dropdown-menu {
    margin-top: 20px;
    padding: 30px 50px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.navbar-default {
    z-index: 10;
    background-color: #f8f8f8;
    border-top-color: #e7e7e7;
    border-bottom-color: #e7e7e7;
}

.navbar-default .navbar-nav>li {
    width: auto;
}

.navbar-default .navbar-nav>li>a {
    width: auto;
    font-size: 1.1em;
}

.mega-dropdown {
    position: static !important;
    width: 100%;
}

.mega-dropdown-menu {
    padding: 20px 0px;
    width: 100%;
    box-shadow: none;
    -webkit-box-shadow: none;
}

.mega-dropdown-menu:before {
    content: "";
    border-bottom: 15px solid #fff;
    border-right: 17px solid transparent;
    border-left: 17px solid transparent;
    position: absolute;
    top: -15px;
    right: 285px;
    z-index: 10;
}

.mega-dropdown-menu:after {
    content: "";
    border-bottom: 17px solid #ccc;
    border-right: 19px solid transparent;
    border-left: 19px solid transparent;
    position: absolute;
    top: -17px;
    right: 283px;
    z-index: 8;
}

.mega-dropdown-menu > li > ul {
    padding: 0;
    margin: 0;
}

.mega-dropdown-menu > li > ul > li {
    list-style: none;
}

.mega-dropdown-menu > li > ul > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.428571429;
    color: #999;
    white-space: normal;
}

.mega-dropdown-menu > li ul > li > a:hover,
.mega-dropdown-menu > li ul > li > a:focus {
    text-decoration: none;
    color: #444;
    background-color: #f5f5f5;
}

.mega-dropdown-menu .dropdown-header {
    color: #690065;
    font-size: 18px;
    font-weight: bold;
}

.mega-dropdown-menu form {
    margin: 3px 20px;
}

.mega-dropdown-menu .form-group {
    margin-bottom: 3px;
}

.ads img{
    width: 100%;
}

.full-ads img {
    width: 60%;
}




/* ==========================================================================
   Daily Analysis
   ========================================================================== */
.daily-analysis {
    position: relative;
    height: 570px;
    width: 100%;
    margin-bottom: 15px;
    background-size: cover;
    background-position: center;
}

.mainLink{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 3;
}

.analysis-img {
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 100%;

}

.analysis-img:before {

    content: "";
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0 ,0.5);
    /*background: rgba(0,0,0,0.03) -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0,0,0,0)),color-stop(0, rgba(0,0,0,0)),color-stop(100%, rgba(0, 0, 0,0.75)));
    background: rgba(0,0,0,0.03) -webkit-linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0) 0,rgba(0, 0, 0,0.75) 100%);
    background: rgba(0,0,0,0.03) linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0) 0,rgba(0, 0, 0,0.75) 100%);*/
    bottom: 0;
}

.analysis-img img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.analysis-content {
    position: absolute;
    bottom: 0;
    color: #fff;
}

.analysis-content h3 {
    margin-bottom: 15px;
    font-weight: normal;
    font-size: 1.17647em;
    line-height: 1.15em;
    letter-spacing: 0.1px;
}

.analysis-desc {
    width: 100%;
    float: right;
    padding: 15px 0;
    text-align: justify;
    font-size: 1em;
    line-height: 1.7em;
    overflow: hidden;
    display: inline-block;
    height: 150px;
    margin-bottom: 20px;
}

.analysis-desc a {
    color: #d0cdcd;
}

.auther-name {
    font-size: 14px;
    font-weight: normal;
    padding-top: 8px;
    padding-right: 7px;
}

.auther-name .assetByline {
    font-size: 13px;
    font-weight: normal;
    color: #FFF;
}

.assetByline a {
    color: #b3b0b0;
}

.analysis-thumb-wrap {
    position: absolute;
    top: 10%;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.analysis-thumb-wrap .tips-detail {
    position: absolute;
    left: 0;
    right: 0;
    top: 50px;
}

.analysis-thumb-wrap .tips-detail ul li {
    display: inline-block;
    color: #fff;
    font-size: 12px;
    width: 20%;
    text-align: center;
    float: none;
}

.analysis-thumb .author-img {
    margin: 10px;
    text-align: left;
}

.analysis-thumb {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    border-bottom: 1px solid #afabab;

}

.analysis-thumb .auther-name{
    position: absolute;
    top: 25px;
    color: #fff;
    font-size: 0.9em;
    right: 0;
    padding: 0;
}

.author-img img {
    width: 100%;
    height: 100%;
    object-fit:cover;
    border-radius: 50%;
    /*box-shadow: 0px 3px 5px #666363;*/
}

.auther {
    position: relative;
}

.auther .calender {
    color: #fff;
    position: absolute;
    left: 0;
    top: 27px;
    text-align: left;
    font-size: 12px;
}

.tips-icon-news span {
    font-size: 12px;
    color: #949393;
    padding-right: 20px;
}

.grid figure {
    position: relative;
}

.category-btn {
    position: absolute;
    top: 0;
    right: 0;
    text-align: right;
}




/* ==========================================================================
   Title
   ========================================================================== */
.titleGroup {
    width: 100%;
    position: relative;
    pointer-events: none;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;
    margin-bottom: 20px;
    z-index: 2;
}

.titleGroup.desktop h2 {
    padding-left: 15px;
    border-left: 1px solid;
    border-color: rgba(183, 180, 180, 0.3);
}

.titleGroup h2 {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    width: 15%;
}

.titleGroup .title-menu {
    width: 75%;
}

.titleGroup .title-menu li {
    display: inline-block;
    width: auto;
    padding-left: 20px;
    margin-top: 10px;
}

.title-menu li a {
    color: #000;
}

.title-menu li a:hover {
    color: #690065;
}

.titleGroup .btn {
    -webkit-box-shadow: 0 1px 5px rgba(0,0,0,.35);
    box-shadow: 0 1px 5px rgba(0,0,0,.35);
    color: #555;
}

.titleGroup .btn-gray {
    -webkit-box-shadow: 0 1px 5px rgba(0,0,0,.35);
    box-shadow: 0 1px 5px rgba(0,0,0,.35);
}

.titleGroup.desktop h2 i {
    color: #fff;
    font-size: 1.2em;
    border: 1.2px solid #690065;
    border-radius: 50%;
    padding: 8px;
    width: 40px;
    height: 40px;
    background: #690065;
    margin-left: 10px;
}

.titleGroup .more {
    width: 10%;
}

.titleGroup .firstWord {
    font-weight: normal;
}

.titleGroup.desktop .line {
    position: relative;
    height: 5px;
    background-color: #E4E7EA;
    flex: 2;
}

.titleGroup a.allContent {
    font-size: 16px;
    padding-right: 5px;
    color: #000;
    pointer-events: all;
}

.titleGroup .firstWord {
    font-weight: normal;
}





/* ==========================================================================
   mainSlider
   ========================================================================== */
.main-slider .small-thumb figure {
    width: 100%;
    height: 100px;
}

.main-slider .big-thumb figure {
    width: 100%;
    height: 361px;
}

.module-thumb {
    overflow: hidden;
    margin-right: 0;
    float: right;
    position: relative;
    z-index: 2;
    width: 100%;
}

.module-thumb:before {
    content: "";
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    left: 0;
    z-index: 0;
}

.module-thumb:hover {
    z-index: 4;
}

.module-thumb:hover:before {
    background-color: rgba(105,0,101,0.6);
}

.module-thumb .main-a {
    position: absolute;
    z-index: 6;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.module-thumb figure:before {
    content: "";
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.03) -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0,0,0,0)),color-stop(30%, rgba(0,0,0,0)),color-stop(80%, rgba(0,0,0,0.75)));
    background: rgba(0,0,0,0.03) -webkit-linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0) 30%,rgba(0,0,0,0.75) 80%);
    background: rgba(0,0,0,0.03) linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0) 30%,rgba(0,0,0,0.75) 80%);
    bottom: 0;
}

.module-thumb figure {
    margin: 0;
}

.module-thumb img {
    position: absolute;
    z-index: -1;
    bottom: -100%;
    top: -100%;
    left: -100%;
    right: -100%;
    width: auto;
    min-width: 100%;
    min-height: 100%;
    margin: auto;
    object-fit: cover;
    transition: all 0.5s;
}

.module-thumb .slide-caption {
    color: #fff;
    text-align: justify;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
    height: 150px;
    overflow: hidden;
    padding: 15px;
    display: inline-block;
}

.module-thumb .slide-caption h3 {
    color: #fff;
    position: relative;
    z-index: 5;
    margin-bottom: 17px;
    font-size: 1.2em;
    line-height: 1.6em;
    font-weight: 300;
}

.module-thumb .slide-caption span {
    font-size: 1em;
    line-height: 1.1em;
    margin-bottom: 13px;
    position: relative;
    z-index: 5;
}

.assettime a {
    margin-right: 5px;
    position: relative;
    z-index: 7;
    color: #888;
}

.assettime a:hover {
    color: #690065;
}



/* ==========================================================================
   Editor's suggestion
   ========================================================================== */
.owl-carousel{
    direction: ltr;
}

.news-editor .owl-nav {
    position: absolute;
    top: 0;
}

.news-editor .owl-nav .owl-prev, .news-editor .owl-nav .owl-next {
    width: 30px;
    height: 30px;
    background-color: #c2c2c2;
    border-radius: 50%;
}

.news-editor .titleGroup h2 {
    width: inherit;
    border-left: none;
}

.owl-editor-news{

}

.owl-carousel .owl-item img {
    display: block;
    width: 100%;
    height: 235px;
    object-fit: cover;
}

#owl-editor-news{
    padding: 15px;
    margin: 15px 0px;
}

#owl-editor-news .item > a{
    width: 100%;
    height: 100%;
    text-align: right;
}

.thumbnail .caption{
    direction: rtl;
}

.news-editor .caption p {
    font-size: 1.4rem;
    color: #999;
    line-height: 3;
}

.news-editor .caption h4 {
    font-size: 1.8rem;
    color: #444;
}

.news-editor .btn.btn-primary {
    font-size: 1.3rem;
}

.owl-editor-news .owl-prev{
    position: absolute;
    left: 0px;
    bottom: 60%;
}

.owl-editor-news .owl-next{
    position: absolute;
    left: 35px;
    bottom: 60%;
}

.owl-editor-news .owl-nav .fa{
    font-size: 25px;
    color: #fff;
    padding: 1px 9px;
}




/* ==========================================================================
   Top News
   ========================================================================== */
.whole-most-view .titleGroup{
    padding-top: 20px;
}

.top-news-article.small .effect-bubba{
    padding-bottom: 15px;
}

.top-news-article.small .effect-bubba img {
    width: 100%;
    height: 185px;
    object-fit:cover;
}

.top-news-article .assetByline a {
    color: #333;
}

.border-style {
    border-bottom: 1px solid #d5cfcf;
    float: right;
    width: 100%;
    padding-top: 13px;
}

.top-news-article {
    border-width: 1px;
    border-style: solid;
    border-color: rgba(0,0,0,.2);
    -webkit-box-shadow: 0 5px 20px rgba(0,0,0,.1);
    box-shadow: 0 5px 20px rgba(0,0,0,.1);
    background: #fff;
}

.top-news-article:hover{
    border-color: rgba(0,0,0,.2);
    -webkit-box-shadow: 0 5px 20px rgba(0,0,0,.35);
    box-shadow: 0 5px 20px rgba(0,0,0,.35);
}

.most-views-wrapper .tips-detail {
    padding-top: 13px;
}

.top-news-article.big .calender {
    padding-top: 25px;
    font-size: 12px;
    color: #333;
}

.top-news-article.small .calender {
    padding-top: 5px;
    font-size: 12px;
    color: #333;
}


.top-news-article.big .news-info .tips-detail ul li {
    display: inline-block;
    color: #777;
    font-size: 11px;
    width: 13%;
    text-align: center;
    float: left;
    margin-bottom: 10px;
}

.top-news-article.small .news-info .tips-detail ul {
    border-top: 1px solid #e7e7e7;
    padding: 11px 0;
    width: 90%;
    margin: 0 auto;
}

.top-news-article .tips-detail ul {
    margin-top: 0;
}

.small-news-title  h4{
    padding: 15px;
    color: #333;
    display: inline-block;
    width: 100%;
    line-height: 1.6;
    font-size: 1.3em;
    font-weight: bold;
}

.category {
    border: 1px dashed #690065;
    padding: 5px;
    background: #690065;
    margin: 10px;
    color: #fff;
    border-radius: 2px;
}

.news-caption {
    width: 100%;
    float: right;
    line-height: 1.7;
    font-size: 1.2em;
    padding: 0 15px;
    text-align: justify;
    color: #777;
    overflow: hidden;
    display: inline-block;
    height: 105px;
    margin-bottom: 27px;
}

.news-caption.big {
    height: 27px;
}

.news-info {
    width: 100%;
    float: right;
}

.news-info ul {
    text-align: center;
    padding-right: 0;
}

.news-info ul li {
    display: inline-block;
    width: 30%;
    font-size: 13px;
    text-align: center;
}

.top-news-article.big .news-info ul li:nth-child(2) {
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
}

.top-news-article.small .news-info .tips-detail ul li {
    display: inline-block;
    color: #000;
    font-size: 11px;
    width: 20%;
    text-align: center;
    float: left;
    margin-bottom: 10px;
}

.news-info ul li img {
    width: 100%;
}

.top-news-article.big .effect-bubba img {
    width: 100%;
    height: 300px;
    object-fit:cover;
}


/* ==========================================================================
   Most View
   ========================================================================== */
.most-view img {
    width: 100%;
    height: 55px;
    object-fit:cover;
}

.most-view-title h2 {
    font-size: 1.1em;
    text-align: justify;
    padding-left: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    display: inline-block;
    white-space: nowrap;
}

.tips-detail ul {
    margin-top: 10%;
    margin-bottom: 0;
}

.tips-detail ul li {
    display: inline-block;
    color: #777;
    font-size: 12px;
    width: 20%;
    text-align: left;
    float: left;
}

.most-views-wrapper .tips-detail ul li:first-child {
    width: 50%;
    text-align: right;
    float: right;
}

.side-banner img {
    height: 265px;
    object-fit:cover;
    width: 100%;
}

.carousel-control.right {
    right: 0;
    left: auto;
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, .0) 0%, rgba(0, 0, 0, ) 100%);
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, .0) 0%, rgba(0, 0, 0,0) 100%);
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .0)), to(rgba(0, 0, 0, 0)));
    background-image: linear-gradient(to right, rgba(0, 0, 0, .01) 0%, rgba(0, 0, 0, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
    background-repeat: repeat-x;
}

.carousel-control.left {
    left: 0;
    right: auto;
}



/* ==========================================================================
   Categories
   ========================================================================== */
.card-back {
    margin-bottom: 1.875em;
    border-width: 1px;
    border-style: solid;
    float: right;
    width: 100%;
    padding: 0 30px;
    border-color: rgba(0,0,0,.2);
    -webkit-box-shadow: 0 5px 20px rgba(0,0,0,.1);
    box-shadow: 0 5px 20px rgba(0,0,0,.1);
    background: #fff;
}

.card-back .titleGroup h2 {
    width: 100%;
    border-left: 0;
    padding-bottom: 30px;
}

.btBox ul {
    list-style: none;
    margin: 0;
    display: block;
    padding: 0;
    font-size: .8125em;
}

.btBox.widget_categories ul li a:hover > span {
    color: #fff;
    -webkit-box-shadow: 0 0 0 1.5em #dc0003 inset;
    box-shadow: 0 0 0 1.5em #dc0003 inset;
    color: #fff;
}

.btBox.widget_categories li.cat-item-6 {
    color: #1342ba;
}

.btBox.widget_categories li.cat-item-6 a:hover {
    color: #1342ba;
}

.btBox.widget_categories li.cat-item-6 a:before {
    border-color: #1342ba;
}

.btBox.widget_categories li.cat-item-6 a > span {
    color: #1342ba;
    box-shadow: 0 0 0 1px #1342ba inset;
}

.btBox.widget_categories li.cat-item-6 a:hover > span {
    box-shadow: 0 0 0 1.5em #1342ba inset;
}

.btBox ul li a:hover:before {
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transition: 300ms ease all;
    -moz-transition: 300ms ease all;
    transition: 300ms ease all;
}

.btBox.widget_categories li.cat-item-7 {
    color: #30648d !important;
}

.btBox.widget_categories li.cat-item-7 a > span {
    color: #30648d;
    box-shadow: 0 0 0 1px #30648d inset;
}

.btBox.widget_categories li.cat-item-7 a:hover {
    color: #30648d;
}

.btBox.widget_categories li.cat-item-7 a:before {
    border-color: #30648d;
}

.btBox.widget_categories li.cat-item-7 a:before {
    border-color: #30648d;
}

.btBox.widget_categories li.cat-item-7 a:hover > span {
    box-shadow: 0 0 0 1.5em #30648d inset;
}

.btBox.widget_categories li.cat-item-9 {
    color: #dc7200;
}

.btBox.widget_categories li.cat-item-9 a > span {
    color: #dc7200;
    box-shadow: 0 0 0 1px #dc7200 inset;
}

.btBox.widget_categories li.cat-item-9 a:hover {
    color: #dc7200;
}

.btBox.widget_categories li.cat-item-9 a:before {
    border-color: #dc7200;
}

.btBox.widget_categories li.cat-item-9 a:hover > span {
    box-shadow: 0 0 0 1.5em #dc7200 inset;
}

.btBox.widget_categories li.cat-item-11 {
    color: #27a500;
}

.btBox.widget_categories li.cat-item-11 a > span {
    color: #27a500;
    box-shadow: 0 0 0 1px #27a500 inset;
}

.btBox.widget_categories li.cat-item-11 a:hover {
    color: #27a500;
}

.btBox.widget_categories li.cat-item-11 a:before {
    border-color: #27a500;
}

.btBox.widget_categories li.cat-item-11 a:hover > span {
    box-shadow: 0 0 0 1.5em #27a500 inset;
}

.btBox.widget_categories li.cat-item-13 {
    color: #6d00a5;
}

.btBox.widget_categories li.cat-item-13 a > span {
    color: #6d00a5;
    box-shadow: 0 0 0 1px #6d00a5 inset;
}

.btBox.widget_categories li.cat-item-13 a:before {
    border-color: #6d00a5;
}

.btBox.widget_categories li.cat-item-13 a:hover {
    color: #6d00a5;
}

.btBox.widget_categories li.cat-item-13 a:hover > span {
    box-shadow: 0 0 0 1.5em #6d00a5 inset;
}

.btBox.widget_categories li.cat-item-16 {
    color: #dc0003;
}

.btBox.widget_categories li.cat-item-16 a:before {
    border-color: #dc0003;
}

.btBox.widget_categories li.cat-item-16 a > span {
    color: #dc0003;
    box-shadow: 0 0 0 1px #dc0003 inset;
}

.btBox.widget_categories li.cat-item-16 a:hover {
    color: #dc0003;
}

.btBox.widget_categories li.cat-item-16 a:hover > span {
    box-shadow: 0 0 0 1.5em #dc0003 inset;
}

.btBox.widget_categories li.cat-item-17 {
    color: #7c5835;
}

.btBox.widget_categories li.cat-item-17 a > span {
    color: #7c5835;
    box-shadow: 0 0 0 1px #7c5835 inset;
}

.btBox.widget_categories li.cat-item-17 a:hover {
    color: #7c5835;
}

.btBox.widget_categories li.cat-item-17 a:hover > span {
    box-shadow: 0 0 0 1.5em #7c5835 inset;
}

.btBox.widget_categories li.cat-item-17 a:before {
    border-color: #7c5835;
}

.btBox.widget_categories li.cat-item-19 {
    color: #a50078;
}

.btBox.widget_categories li.cat-item-19 a > span {
    color: #a50078;
    box-shadow: 0 0 0 1px #a50078 inset;
}

.btBox.widget_categories li.cat-item-19 a:hover {
    color: #a50078;
}

.btBox.widget_categories li.cat-item-19 a:hover > span {
    box-shadow: 0 0 0 1.5em #a50078 inset;
}

.btBox.widget_categories li.cat-item-19 a:before {
    border-color: #a50078;
}

.btBox.widget_categories li.cat-item-22 {
    color: #00a4f0;
}

.btBox.widget_categories li.cat-item-22 a > span {
    color: #00a4f0;
    box-shadow: 0 0 0 1px #00a4f0 inset;
}

.btBox.widget_categories li.cat-item-22 a:hover {
    color: #00a4f0;
}

.btBox.widget_categories li.cat-item-22 a:before {
    border-color: #00a4f0;
}

.btBox.widget_categories li.cat-item-22 a:hover > span {
    box-shadow: 0 0 0 1.5em #00a4f0 inset;
}

.btBox.widget_categories li.cat-item-24 {
    color: #9c9c9c;
}

.btBox.widget_categories li.cat-item-24 a > span {
    color: #9c9c9c;
    box-shadow: 0 0 0 1px #9c9c9c inset;
}

.btBox.widget_categories li.cat-item-24 a:hover {
    color: #9c9c9c;
}

.btBox.widget_categories li.cat-item-24 a:hover > span {
    box-shadow: 0 0 0 1.5em #9c9c9c inset;
}

.btBox.widget_categories li.cat-item-24 a:before {
    border-color: #9c9c9c;
}

.btBox.widget_categories li.cat-item-25 {
    color: #dc0003;
}

.btBox.widget_categories li.cat-item-25 a > span {
    color: #dc0003;
    box-shadow: 0 0 0 1px #dc0003 inset;
}

.btBox.widget_categories li.cat-item-25 a:hover {
    color: #dc0003;
}

.btBox.widget_categories li.cat-item-26 a:hover > span {
    box-shadow: 0 0 0 1.5em #00e17a inset;
}

.btBox.widget_categories li.cat-item-25 a:before {
    border-color: #dc0003;
}

.btBox.widget_categories li.cat-item-26 {
    color: #00e17a;
}

.btBox.widget_categories li.cat-item-26 a > span {
    color: #00e17a;
    box-shadow: 0 0 0 1px #00e17a inset;
}

.btBox.widget_categories li.cat-item-26 a:hover {
    color: #00e17a;
}

.btBox.widget_categories li.cat-item-26 a:before {
    border-color: #00e17a;
}

.btSidebar .btBox ul li:first-child {
    padding-top: 0;
}

.btSidebar .btBox ul li {
    border-bottom: 1px solid rgba(0,0,0,.1);
}

.btSidebar .btBox ul li a {
    padding-left: 30px;
    display: block;
    line-height: 1;
    position: relative;
    padding-right: 0;
    -webkit-transition: 300ms ease color,300ms ease padding;
    -moz-transition: 300ms ease color,300ms ease padding;
    transition: 300ms ease color,300ms ease padding;
    color: #000;
    font-size: 1.3em;
}

.btBox ul li {
    display: block;
    width: auto;
    margin: 0;
    position: relative;
    padding: 1.30em 0;
    margin-left: 0;
}

.btBox ul li:after {
    clear: both;
    content: " ";
    display: block;
}

.btBox.widget_categories li.cat-item-6 a:before {
    border-color: #1342ba;
}

.btBox ul li a:before {
    display: block;
    width: 30px;
    content: "";
    border-top: 1px solid #dc0003;
    position: absolute;
    right: -30px;
    top: 50%;
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transition: 300ms ease border-color,300ms ease background,300ms ease transform;
    -moz-transition: 300ms ease border-color,300ms ease background,300ms ease transform;
    transition: 300ms ease border-color,300ms ease background,300ms ease transform;
}

.btBox.widget_categories ul li a > span {
    font-size: .846em;
    display: block;
    width: 23px;
    height: 23px;
    line-height: 25px;
    text-align: center;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transition: 300ms ease box-shadow,300ms ease color;
    -moz-transition: 300ms ease box-shadow,300ms ease color;
    transition: 300ms ease box-shadow,300ms ease color;
    -webkit-box-shadow: 0 0 0 1px #dc0003 inset;
    box-shadow: 0 0 0 1px #dc0003 inset;
    color: #dc0003;
    margin-top: -11.5px;
}

.btBox.widget_categories li.cat-item-6 a > span {
    color: #1342ba;
    box-shadow: 0 0 0 1px #1342ba inset;
}



/* ==========================================================================
  Video
   ========================================================================== */
.video-item {
  position: relative;
}

.video-item.big {
  width: 100%;
  background-position: center;
  background-size: cover;
  height: 700px;
  z-index: 9;
}

.video-pattern {
    background-image: url(../images/pattern.png);
    background-repeat: repeat;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}

.videos .titleGroup {
    padding: 30px 0;
    color: #fff;
}

.videos .titleGroup a.allContent {
  color: #fff;
}

.videos .title-menu li a {
  color: #fff;
}

.thumb-videoes {
    position: absolute;
    bottom: 10%;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 88%;
}

.thumb-videoes img {
  width: 100%;
  height: 150px;
  object-fit:cover;
}

.thumb-videoes figure {
    position: relative;
}

.thumb-videoes figure:after {
    content: "";
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.03) -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0,0,0,0)),color-stop(30%, rgba(0,0,0,0)),color-stop(100%, rgba(0,0,0,0.75)));
    background: rgba(0,0,0,0.03) -webkit-linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0) 30%,rgba(0,0,0,0.75) 100%);
    background: rgba(0,0,0,0.03) linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0) 30%,rgba(0,0,0,0.75) 100%);
    top: 0;
    left: 0;
}

.thumb-videoes a:hover img:before {
  
      -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
}

.thumb-videoes a:hover figure:after{
  background-color: rgba(105,0,101,0.6);
}

.thumb-videoes figure:before {
    content: "\f04b";
    font-family: FontAwesome;
    position: absolute;
    top: 20%;
    margin: 0 auto;
    z-index: 10;
    right: 40%;
    color: #fff;
    font-size: 60px;
    text-align: center;
}

.thumb-videoes figcaption h2 {
  color: #fff;
  font-size: 1.2em;
  margin-top: 15px;
}

.video-item .play {
  position: relative;
}

.video-item .play i{  
  font-size: 11em;
  font-weight: lighter;
  color: #fff;
}

.video-item .play span {
  position: absolute;
  top: 0;
  margin-right: 30px;
  color: #ccc;
  font-size: 1.3em;
}

.video-item .play span strong {
  color: #fff;
  font-size: 1.5em;

}

/* ==========================================================================
   Footer
   ========================================================================== */
.footer-wraper {
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    float: right;
}

footer {
    height: auto;
    width: 100%;
    background-color: #000;
    direction: rtl;
}

.footer-title {
    border-bottom: 1px solid rgba(169, 9, 218, 0.4);
    margin-bottom: 30px;
}

.footer-title h4 {
    font-size: 16px;
    line-height: inherit;
    margin-bottom: 0;
    border-bottom: 1px solid #690065;
    width: 35%;
    padding-bottom: 5px;
    color: #fff;
    font-weight: 100;
    position: relative;
    top: 1px;
}

.about-caption p {
    font-size: 14px;
    color: #fff;
    text-align: justify;
    line-height: 1.6em;
    padding: 0 15px 15px 15px;
    font-weight: 100;
}

.footer-menu-news{
    padding: 0 20px;
}

.footer-menu-news ul {
    padding-right: 0;
}

.footer-menu-news ul li {
    list-style: none;
}

.footer-menu-news ul li a {
    color: #fff;
    font-size: 14px;
    line-height: 2em;
    display: block;
    margin: 4px;
    text-decoration: none;
    text-shadow: 0 1px rgba(0, 0, 0, 0.5);
    font-weight: 500;
    transition: all 0.2s cubic-bezier(0.56, 0.03, 0.51, 2.28);
}

.footer-menu-news ul li a:hover{
    color: #690065;
    transform: scale(1.1);
}

.footer-menu-news ul li a i{
    padding-left: 5px;
}

.red-wrapper{
    background-color: rgba(117, 4, 114, 0.6);
    padding: 10px;
    bottom: 0;
    left: 0;
    right: 0;
}

.red-part{
    margin: 0 auto;
}

.copy{
    text-align: right;
    width: 100%;
    color: #fff;
    font-size: 14px;
}

.copy a{
    color: #fff;
}

.copy a:hover{
    color: #690065;
}

.footer-menu ul{
    margin: 0;
    padding: 0;
    text-align: left;
}

.footer-menu ul li {
    list-style: none;
    display: inline-block;
    font-size: 14px;

    margin: 0 10px;
}

.footer-menu ul li a{
    color: #fff;
}

.footer-menu ul li a:hover{
    color: #690065;
}

.footer-menu-news .most-views-wrapper img {
    width: 100%;
    height: 55px;
    object-fit: cover;
}

.footer-menu-news .most-view-title h2{
    color: #fff;
}

.footer-menu-news i.icon {
    padding-left: 15px;
    position: relative;
    top: 3px;
}

.footer-menu-news i.icon-placeholder-2{
    margin-bottom: 20px;
    float: right;
}

/* Social Media footer */

.social {
    position: relative;
}

.social-icons {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    display: inline-block;
    /*  position:absolute;
      top:50px;
      left:0;
      right: 0;*/
    -ms-transform:translate(0,0);
    -webkit-transform:translate(0,0);
    transform:translate(0,0);
}

/* Icons */

.social-icons a {
    color:#fff;
    background-color: rgba(117, 4, 114, 0.6);
    border-radius:2px;
    text-align:center;
    text-decoration:none;
    font-family:fontawesome;
    position: relative;
    display: inline-block;
    width:40px;
    height:40px;
    padding-top:10px;
    margin:0;
    -o-transition:all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
    -webkit-font-smoothing: antialiased;
}

.social-icons a:hover {
    background: #690065;
}

/* pop-up text */

.social-icons a span {
    color:#666;
    position:absolute;
    font-family:'tanha',tahoma,sans-serif;
    bottom:0;
    left:-25px;
    right:-25px;
    padding:5px 7px;
    z-index:-1;
    font-size:14px;
    border-radius:2px;
    background:#fff;
    visibility:hidden;
    opacity:0;
    -o-transition:all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -webkit-transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -moz-transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

/* pop-up text arrow */

.social-icons a span:before {
    content:'';
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #fff;
    position:absolute;
    bottom:-5px;
    left:40px;
}

/* text pops up when icon is in hover state */

.social-icons a:hover span {
    bottom:50px;
    visibility:visible;
    opacity:1;
}

/* font awesome icons */

.social-icons a:nth-of-type(1):before {
    content:'\f09a';
}
.social-icons a:nth-of-type(2):before {
    content:'\f099';
}
.social-icons a:nth-of-type(3):before {
    content:'\f0d5';
}
.social-icons a:nth-of-type(4):before {
    content:'\f16d';
}
.social-icons a:nth-of-type(5):before {
    content:'\f1d8';
}
.social-icons a:nth-of-type(6):before {
    content:'\f1cb';
}


/* Newsletter footer */
.newsletter {
    overflow: hidden;
    height: 40px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}
.newsletter input {
    width: 100%;
    border: 1px solid white;
    background: transparent;
    border-radius: 5px;
    height: 40px;
    padding: 10px 10px 10px 0px;
    text-transform: uppercase;
    outline: none;
    -moz-transition: border 0.2s ease;
    -o-transition: border 0.2s ease;
    -webkit-transition: border 0.2s ease;
    transition: border 0.2s ease;
}

.newsletter input::placeholder {
    color: #fff;
}

.newsletter input:focus {
    border: 1px solid #999;
}
.newsletter input:focus + button {
    background-color: #690065;
}
.newsletter button {
    position: absolute;
    z-index: 999;
    left: 2px;
    top: 2px;
    height: 36px;
    border: none;
    background-color: rgba(117, 4, 114, 0.6);
    -moz-transition: background-color 0.3s ease, width 0.3s ease;
    -o-transition: background-color 0.3s ease, width 0.3s ease;
    -webkit-transition: background-color 0.3s ease, width 0.3s ease;
    transition: background-color 0.3s ease, width 0.3s ease;
    color: white;
    padding: 0;
    margin: 0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    text-transform: uppercase;
    width: 100px;
    text-align: center;
    cursor: pointer;
@inlude transform(translateZ(0));
}
.newsletter button:hover {
    width: 140px;
}






/* ==========================================================================
   Responsive
   ========================================================================== */
@media screen and (max-width: 768px) {
    /*.nopadding {
      padding: inherit !important;
    }*/

    .nopadding-right{
        padding-right: inherit !important;
    }

    .nopadding-left{
        padding-left: inherit !important;
    }

    .main-slider .big-thumb img{
        height: 200px;
    }

    .full-ads img {
        width: 100%;
    }

    .titleGroup h2 {
        width: 50%;
    }

    .titleGroup .more {
        width: 45%;
    }

    .thumb-videoes img {
        height: auto;
    }
}

@media screen and (max-width: 767px) {
    .logo {
        text-align: center;
    }
}